h1 {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 35px;
  font-family: cursive;
}

label,
button,
select,
h2,
h3 {
  font-family: cursive;
}

body {
  background-color: rgb(85, 154, 189);
}

.container {
  display: flex;
  flex-direction: column;
}

.top-div,
.home-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-width: 5px;
  justify-content: center;
}

.your-points-div,
.opponent-stats-div,
.opponent-points-div,
.initial-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(167, 190, 244);
  border-style: solid;
  border-color: rgb(0, 0, 0);
  flex-basis: 200px;
}

.your-picks-div,
.result-div,
.opponent-picks-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(167, 190, 244);
  border-style: solid;
  border-color: rgb(0, 0, 0);
  flex-basis: 300px;
}

.bottom-new-pick-div{
  display: flex;
  flex-direction: row;
}

.blue-corner-div,
.red-corner-div,
.outcome-div {
  border-style: solid;
  border-width: 1px;
}

.your-fightcard-div,
.result-fightcard-div,
.opponent-fightcard-div,
.new-pick-div {
  display: flex;
  flex-direction: column;
}

.your-fight-div,
.opponent-fight-div,
.result-fight-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-style: solid;
  background-color: rgb(173, 197, 206);
  font-size: small;
}

.fight-pick-div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.fighter-label,
.opponent-name-label,
.opponent-difficulty-label,
.your-points,
.opponent-points,
.standup-label,
.grappling-label,
.overall-label,
.live-fight-number-label,
.red-stream-damage-label,
.blue-stream-damage-label,
.red-stream-name-label,
.blue-stream-name-label,
.red-stream-odds-label,
.blue-stream-odds-label,
.live-round-label,
.live-counter-label {
  font-weight: bold;
}

.points-for-each-div {
  align-self: flex-end;
  border-style: solid;
  border-width: 2px;
  font-weight: bold;
  background-color: rgb(95, 138, 239);
}

 .live-div{
  display: flex;
  flex-direction: column;
  align-items:center;
  flex-shrink: 1;
  background-color: rgb(167, 190, 244);
  border-style: solid;
  width:70%;
  align-self: center;
}

.stream-div{
  display: flex;
  flex-direction: row;
  border-width: 5px;
  justify-content: center;
  border-style: solid;
  background-color: rgb(99, 131, 206);
}

.blue-stream-name-div,
.red-stream-name-div{
  display: flex;
  width: 300px;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  font-size: small;
}

.blue-stream-events-div,
.red-stream-events-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(167, 190, 244);
  font-size: small;
  height: 500px;
}

.live-timer-div{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.timer-span{
  background-color: rgb(95, 138, 239);
  border-style: solid;
  border-width: 1px;
}
/*
.stream-div{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  flex-basis: 300px;
  justify-content: space-between;
}

.blue-stream-div,
.red-stream-div{
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 400px;
  background-color: rgb(173, 197, 206);
  justify-content: space-between;
}

.blue-stream-name-div,
.red-stream-name-div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(32, 168, 218);
}

.live-timer-div{
  display:flex;
  width: 400px;
  justify-content: space-between;
} */
