
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$body-bg: rgb(27, 27, 27);
$body-color: rgb(73, 140, 255);
$primary: rgb(73, 140, 255);
// $primary: rgb(255,255,255);
$font-family-sans-serif: 'Poppins', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-emphasis-color: rgb(255, 255, 255);
  }

.body {
    background: black url(/src/assets/3965580.jpg);
}

.custom-bg{
    background: black url(../src/assets/banner.jpg);
    background-size:cover;
    background-position:0px -100px;
}

.navbar-collapse{
    justify-content: flex-end;
}

.custom-button-width{
    width: 100px;
}

.text-small{
    font-size:8px;
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

@media (max-width: 992px)
{
    .custombg {
        height: 100px;
        background-position:0px -38px;
    }
    .container-fluid.customnav{
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .custom-font {
      font-size: 12px; 
    }
  }

@media (min-width: 576px) {
    .custom-font {
      font-size: 14px; 
    }
  }

  @media (min-width: 768) {
    .custom-font {
      font-size: 16px;
    }
  }

//   @media (min-width: 992px) {
//     .custom-font {
//       font-size: 16px; 
//   }
// }

// Then add additional custom code here
