html {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-self: center;
  align-self: center;
}

.container{
  display: flex;
  flex-direction: column;
}

.topDiv{
  display: flex;
  flex-direction: row;
}